<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="meplot.daplot"
	android:installLocation="auto"
	android:sharedUserId="cmt.miniBill"
	android:sharedUserLabel="@string/user_label"
	android:versionCode="24"
	android:versionName="@string/app_version" >

	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="14" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:description="@string/app_description"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" >
		<activity
			android:name="meplot.android.free.FreeMain"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="meplot.android.gui.activities.Main"
			android:label="@string/app_name" />
		<activity
			android:name="meplot.android.gui.activities.equations.Equations"
			android:label="@string/command_draw"
			android:windowSoftInputMode="adjustPan" />
		<activity
			android:name="meplot.android.gui.activities.output.Output"
			android:label="@string/command_draw" />
		<activity
			android:name="meplot.android.gui.activities.Solver"
			android:label="@string/command_solve" />
		<activity
			android:name="meplot.android.gui.activities.calc.Calc"
			android:label="@string/command_calc" />
		<activity
			android:name="meplot.android.gui.activities.Credits"
			android:label="@string/command_credits" />
		<activity
			android:name="meplot.android.gui.activities.Preferences"
			android:label="@string/command_settings" />
		<activity
			android:name="meplot.android.gui.activities.Guide"
			android:label="@string/command_guide" />
		<activity
			android:name="meplot.android.gui.activities.matrix.Matrix"
			android:label="@string/command_matrix" />
		<activity
			android:name="meplot.android.gui.activities.Functions"
			android:label="@string/command_functions" />
		<activity
			android:name="com.google.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
	</application>

</manifest>